<!DOCTYPE html>
<html lang="en">
<head>
    <title>Equipment Maintenance - Momentum Fitness Center</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
    <header>
        <h1>Momentum Fitness Center</h1>
        <nav>
            <ul>
              <li><a href="booking.html">Bookings</a></li>
              <li><a href="equipment-maintenance.html">Equipment Maintenance</a></li>
              <li><a href="">Class Schedules</a></li>
              <li><a href="billings.html">Billings</a></li>
            </ul>
          </nav>
    </header>

    <main>
        <h2>Equipment Maintenance Log</h2>

    <form id="maintenanceForm">
        <label for="equipmentName">Equipment Name:</label>
        <input type="text" id="equipmentName" name="equipmentName" required><br><br>

        <label for="maintenanceDate">Maintenance Date:</label>
        <input type="date" id="maintenanceDate" name="maintenanceDate" required><br><br>

        <label for="location">Location:</label>
            <select id="location" name="location" required>
                <option value="">Select Room</option>
                <option value="Room 1">Room 1</option>
                <option value="Room 2">Room 2</option>
                <option value="Room 3">Room 3</option>
            </select><br><br>

        <label for="score">Maintenance Score:</label>
        <input type="number" id="score" name="score" required><br><br>

        <button id="logMaintenanceButton">Log Maintenance </button>
    </form>
    <br>
    <h2>Maintenance Log</h2>
    <table id="maintenanceTable">
        <thead>
            <tr>
                <th>Equipment Name</th>
                <th>Last Monitored</th>
                <th>Location</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id="maintenanceBody">
            <!-- Maintenance log entries will be dynamically added here -->
        </tbody>
    </table>
    </main>
    <footer>
        <p>© Momentum Fitness Center. All Rights Reserved.</p>
      </footer>
      <script src="../../client/scripts.js"></script>
</body>
</html>