<!-- login.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <header>
      <h1>Welcome Back</h1>
    </header>
    <main>
      <form>
        <label for="email">Email address:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="LOGIN">
      </form>
      <p>Don't have an account? <a href="./register.html">Click here</a> to register.</p>
    </main>
    <footer>
      <p>© Momentum Fitness Center. All Rights Reserved.</p>
    </footer>
  </body>
</html>