<!-- dashboard.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Momentum Fitness Center</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
    <header>
        <h1>Member Dashboard</h1>
        <p id="profileName">Name will be displayed here</p>
        <p id="memberId">Member ID will be displayed here</p>

        <nav>
            <ul>
                <li><a href="/profile.html">Profile</a></li>
                <li><a href="/dashboard.html" class="active">Dashboard</a></li>
                <!-- Add other navigation items here -->
            </ul>
        </nav>
    </header>
    <main>
        <section id="routineSection">
            <h2>Exercise Routines</h2>
            <!-- Exercise routine content will be dynamically loaded here -->
        </section>
        <section id="achievementsSection">
            <h2>Fitness Achievements</h2>
            <!-- Fitness achievements content will be dynamically loaded here -->
        </section>
        <section id="statsSection">
            <h2>Health Statistics</h2>
            <!-- Health statistics content will be dynamically loaded here -->
        </section>
    </main>
    <footer>
        <p>© Momentum Fitness Center. All Rights Reserved.</p>
    </footer>
    <script src="../../functions/member_functions.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Retrieve member name and ID from local storage
            const memberName = localStorage.getItem('memberName');
            const memberId = localStorage.getItem('memberId');

            // Update navbar or the designated areas with the member's name and ID
            document.getElementById('profileName').textContent = "Name: " + memberName;
            document.getElementById('memberId').textContent = "Member ID: " + memberId;
        });
    </script>


</body>
</html>
