<!-- register.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <header>
      <h1>Join The Community. Begin Your Journey.</h1>
    </header>
    <main>
      <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email address:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="JOIN NOW">
      </form>
      <p>Already a member? <a href="./login.html">Click here</a> to log in.</p>
    </main>
    <footer>
      <p>© Momentum Fitness Center. All Rights Reserved.</p>
    </footer>
  </body>
</html>